
body{
    background-color: #2F332D;
    margin: 0;
    cursor: default;
}

.head-div{
    /* border: 2px solid yellow; */
    margin-bottom: 50px;
    height: 50px;
    padding: 5px;
    background-color: #4D693A;
}

.header{
    /* border: 2px solid black; */
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
}

.floracation{
    /* border: 2px solid turquoise; */
    width: 33%;
    text-decoration: none;
    align-self: center;
    text-transform: uppercase;
    font-size: 50px;
    font-style: italic;
    font-weight: bold;
    text-shadow: 5px 5px 0px #242424;
    color: hotpink;
}

.right-head{
    /* border: 2px solid white; */
    width: 66%;
    display: flex;
    justify-content: flex-end;
    margin-top: 21px;
    /* padding: 5px; */
}

.shop-button, .about-button{
    /* border: 2px solid orange; */
    width: 85%;
    min-width: 160px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    font-size: 25px;
    text-decoration: none;
    border: none;
    color: #2F332D;
    background-color: #4D693A;
}

.shop-button:hover, .about-button:hover{
    /* border: 2px solid indigo; */
    background-color: #4D693A;
}

.shop-content, .about-content{
    /* border: 2px solid turquoise; */
    display: none;
    position: relative;
    min-width: 160px;
    box-shadow: 5px 5px 0px #242424;
    z-index: 1;
    background-color: #4D693A;
}

.shop-content a, .about-content a{
    display: block;
    text-align: center;
    text-decoration: none;
    color: #2F332D;
}

.shop-content a:hover, .about-content a:hover{
    background-color: #88aa71;
}

.shop-dropdown:hover .shop-content, .about-dropdown:hover .about-content{
    display: block;
}

.shop-dropdown, .about-dropdown{
    position: relative;
}

.index-page{
    /* border: 2px solid red; */
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image1{
    /* border: 2px solid yellow; */
    width: 50%;
    display: flex;
}

.img1{
    /* border: 2px solid turquoise; */
    width: 100%;
}

.index-head{
    /* border: 2px solid red; */
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.head1{
    /* border: 2px solid violet; */
    height: 100%;
    width: 100%;
    text-align: center;
    align-content: center;
    font-size: 30px;
}

.paragraph1{
    /* border: 2px solid red; */
    width: 75%;
    display: flex;
    align-items: center;
}

.para1{
    /* border: 2px solid lime; */
    height: 100%;
    text-align: center;
    align-content: center;
    font-size: 20px;
    box-shadow: 5px 5px 0px #242424;
    color: #FFFDFA;
    background-color: #4D693A;
}

h1{
    color: #FFFDFA;
    font-size: 35px;
}

.bouquets-page{
    /* border: 2px solid turquoise; */
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.bouquets-head{
    /* border: 2px solid coral; */
    text-align: center;
    width: 20%;
    box-shadow: 5px 5px 0px #242424;
    background-color: #4D693A;
}

.bouquet-intro{
    /* border: 2px solid black; */
    width: 50%;
    text-align: center;
    color: #FFFDFA;
}

.b-itnro{
    /* border: 2px solid hotpink; */
}

.bouquet-shop{
    /* border: 2px solid hotpink; */
    width: 75%;
    height: 75%;
    display: flex;
    flex-direction: column;
}

.bshop1{
    /* border: 2px solid white; */
    display: flex;
    justify-content: space-evenly;
    height: 33%;
}

.image-2{
    /* border: 2px solid red; */
    width: 25%;
    display: flex;
}

.img2{
    /* border: 2px solid black; */
    width: 100%;
}

.bprice1{
    /* border: 2px solid blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
}

.bquote1{
    /* border: 2px solid coral; */
    color: #FFFDFA;
}

.bquote1:hover{
    background-color: #4D693A;
    cursor: pointer;
}

.bprice2{
    /* border: 2px solid lime; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
}

.bquote2{
    /* border: 2px solid turquoise; */
    color: #FFFDFA;
}

.bquote2:hover{
    background-color: #4D693A;
    cursor: pointer;
}

.image-3{
    /* border: 2px solid blue; */
    width: 25%;
}

.img3{
    width: 100%;
    height: 100%;
}

.bshop2{
    /* border: 2px solid hotpink; */
    height: 33%;
    display: flex;
}

.image-4{
    /* border: 2px solid yellow; */
    width: 25%;
}

.img4{
    width: 100%;
}

.bprice3{
    /* border: 2px solid lime; */
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bquote3{
    /* border: 2px solid blue; */
    color: #FFFDFA;
}

.bquote3:hover{
    background-color: #4D693A;
    cursor: pointer;
}

.bprice4{
    /* border: 2px solid cyan; */
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bquote4{
    /* border: 2px solid red; */
    color: #FFFDFA;
}

.bquote4:hover{
    background-color: #4D693A;
    cursor: pointer;
}

.image-5{
    /* border: 2px solid yellow; */
    width: 25%;
}

.img5{
    width: 100%;
}

.bshop3{
    /* border: 2px solid chartreuse; */
    height: 33%;
    display: flex;
}

.image-6{
    /* border: 2px solid crimson; */
    width: 25%;
}

.img6{
    width: 100%;
}

.bprice5{
    /* border: 2px solid hotpink; */
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bquote5{
    /* border: 2px solid wheat; */
    color: #FFFDFA;
}

.bquote5:hover{
    background-color: #4D693A;
    cursor: pointer;
}

.bprice6{
    /* border: 2px solid yellow; */
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bquote6{
    /* border: 2px solid blue; */
    color: #FFFDFA;
}

.bquote6:hover{
    background-color: #4D693A;
    cursor: pointer;
}

.image-7{
    /* border: 2px solid black; */
    width: 25%;
}

.img7{
    /* border: 2px solid violet; */
    width: 100%;
}

.plants-page{
    /* border: 2px solid turquoise; */
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plants-head{
    /* border: 2px solid hotpink; */
    text-align: center;
    width: 20%;
    background-color: #4D693A;
    box-shadow: 5px 5px 0px black;
}

.plants-shop{
    /* border: 2px solid red; */
    height: 75%;
    width: 75%;
    display: flex;
    flex-direction: column;
}

.plants-intro{
    /* border: 2px solid white; */
    width: 50%;
    text-align: center;
    color: #FFFDFA;
}

.pshop1{
    /* border: 2px solid turquoise; */
    width: 100%;
    height: 33%;
    display: flex;
}

.image-8{
    /* border: 2px solid yellow; */
    width: 25%;
}

.img8{
    /* border: 2px solid hotpink; */
    width: 100%;
}

.pprice1{
    /* border: 2px solid violet; */
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pquote1{
    /* border: 2px solid blue; */
    color: #FFFDFA;
}

.pprice2{
    /* border: 2px solid plum; */
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pquote2{
    /* border: 2px solid darkcyan; */
    color: #FFFDFA;
}

.image-9{
    /* border: 2px solid darkgoldenrod; */
    width: 25%;
}

.img9{
    /* border: 2px solid black; */
    width: 100%;
}

.pshop2{
    /* border: 2px solid salmon; */
    height: 33%;
    width: 100%;
    display: flex;
}

.image-10{
    /* border: 2px solid blue; */
    width: 25%;
}

.img10{
    /* border: 2px solid black; */
    width: 100%;
}

.pprice3{
    /* border: 2px solid hotpink; */
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pquote3{
    /* border: 2px solid white; */
    color: #FFFDFA;
}

.pprice4{
    /* border: 2px solid orange; */
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pquote4{
    /* border: 2px solid turquoise; */
    color: #FFFDFA;
}

.image-11{
    /* border: 2px solid violet; */
    width: 25%;
}

.img11{
    /* border: 2px solid black; */
    width: 100%;
}

.pshop3{
    /* border: 2px solid black; */
    height: 33%;
    width: 100%;
    display: flex;
}

.image-12{
    /* border: 2px solid chartreuse; */
    width: 25%;
}

.img12{
    /* border: 2px solid white; */
    height: 100%;
}

.pprice5{
    /* border: 2px solid hotpink; */
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pquote5{
    /* border: 2px solid black; */
    color: #FFFDFA;
}

.pprice6{
    /* border: 2px solid cyan; */
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pquote6{
    /* border: 2px solid white; */
    color: #FFFDFA;
}

.image-13{
    /* border: 2px solid blue; */
    width: 25%;
}

.img13{
    /* border: 2px solid black; */
    width: 100%;
    height: 100%;
}

.pquote1:hover, .pquote2:hover, .pquote3:hover, .pquote4:hover, .pquote5:hover, .pquote6:hover{
    /* border: 2px solid white; */
    background-color: #4D693A;
    cursor: pointer;
}

.address-page{
    /* border: 2px solid turquoise; */
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.address-head{
    /* border: 2px solid black; */
    text-align: center;
    margin-bottom: 20px;
    width: 20%;
    box-shadow: 5px 5px 0px #242424;
    background-color: #4D693A;
}

.address-image{
    border: 5px solid hotpink;
    width: 50%;
    display: flex;
}

.address-map{
    width: 100%;
}

.address-intro{
    /* border: 2px solid white; */
    width: 20%;
    margin-top: 20px;
    color: #FFFDFA;
    text-align: center;
    box-shadow: 5px 5px 0px #242424;
    background-color: #4D693A;
}

.address-txt{
    /* border: 2px solid coral; */
    height: 100%;
}

.reviews-page{
    /* border: 2px solid turquoise; */
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reviews-head{
    /* border: 2px solid hotpink; */
    text-align: center;
    margin-bottom: 25px;
    width: 20%;
    box-shadow: 5px 5px 0px #242424;
    background-color: #4D693A;
}

.reviews-box{
    /* border: 2px solid coral; */
    width: 75%;
    height: 75%;
    display: flex;
    flex-direction: column;
}

.reviews1{
    /* border: 2px solid white; */
    height: 33%;
    display: flex;
    justify-content: center;
}

.image-14{
    /* border: 2px solid violet; */
    width: 25%;
    display: flex;
}

.img14{
    /* border: 2px solid black; */
    width: 100%;
}

.reviewer-1{
    /* border: 2px solid coral; */
    width: 25%;
    display: flex;
    text-align: center;
    align-items: center;
    padding: 10px 10px 10px;
}

.review1{
    /* border: 2px solid black; */
    font-size: 15px;
    color: #FFFDFA;
    box-shadow: 5px 5px 0px #242424;
    background-color: #4D693A;
}

.reviews2{
    /* border: 2px solid red; */
    height: 33%;
    display: flex;
    justify-content: center;
}

.reviewer-2{
    /* border: 2px solid white; */
    width: 25%;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px 10px 10px;
}

.review2{
    /* border: 2px solid hotpink; */
    font-size: 15px;
    color: #FFFDFA;
    box-shadow: 5px 5px 0px #242424;
    background-color: #4D693A;
}

.image-15{
    /* border: 2px solid lime; */
    display: flex;
    width: 25%;
}

.img15{
    /* border: 2px solid black; */
    width: 100%;
}

.reviews3{
    /* border: 2px solid blue; */
    height: 33%;
    display: flex;
    justify-content: center;
}

.image-16{
    /* border: 2px solid darkgreen; */
    display: flex;
    width: 25%;
}

.img16{
    /* border: 2px solid black; */
    width: 100%;
}

.reviewer-3{
    /* border: 2px solid red; */
    width: 25%;
    display: flex;
    text-align: center;
    align-items: center;
    padding: 10px 10px 10px;
}

.review3{
    /* border: 2px solid white; */
    font-size: 15px;
    color: #FFFDFA;
    box-shadow: 5px 5px 0px #242424;
    background-color: #4D693A;
}

.contact-page{
    /* border: 2px solid turquoise; */
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-head{
    /* border: 2px solid hotpink; */
    text-align: center;
    width: 20%;
    margin-bottom: 20px;
    box-shadow: 5px 5px 0px #242424;
    background-color: #4D693A;
}

.contact-form{
    /* border: 2px solid hotpink; */
    width: 75%;
    height: 75%;
    display: flex;
}

.c-form{
    /* border: 2px solid white; */
    width: 100%;
    box-shadow: 5px 5px 0px #242424;
    padding: 20px 20px 20px;
    background-color: #4D693A;
    color: black;
}

.message-box{
    width: 1030px;
    height: 290px;
}

.footer-div{
    /* border: 2px solid white; */
    height: 50px;
    margin-top: 12.5px;
    background-color: #4D693A;
}

.footer{
    /* border: 2px solid black; */
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 25px;
    height: 50px;
}

.footer a{
    text-decoration: none;
    color: #2F332D;
}

.fb-link{
    /* border: 2px solid red; */
    height: 100%;
    width: 25%;
    align-content: center;
}

.twt-link{
    /* border: 2px solid blue; */
    height: 100%;
    width: 25%;
    align-content: center;
}

.insta-link{
    /* border: 2px solid yellow; */
    height: 100%;
    width: 25%;
    align-content: center;
}

.linkd-link{
    /* border: 2px solid lime; */
    height: 100%;
    width: 25%;
    align-content: center;
}

.fb-link:hover{
    background-color: #88aa71;
}

.twt-link:hover{
    background-color: #88aa71;
}

.insta-link:hover{
    background-color: #88aa71;
}

.linkd-link:hover{
    background-color: #88aa71;
}